/* breakpoint for screens larger than 700px */

@media only screen and (min-width: 700px){

    .navbar
    {
        display: flex;
        justify-content: space-between;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills{
        /* margin-top: -30px;
        border-radius: 12px;
        padding: 0 10%; */
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        
    }
}